.markdown {
  position: relative;
  width: 100%;
  color: #2f2f40;
  font-weight: 400;
  font-size: 13px;
  line-height: 24px;
}

.markdown h1::selection,
.markdown h2::selection,
.markdown h3::selection,
.markdown h4::selection,
.markdown h5::selection,
.markdown h6::selection,
.markdown a::selection,
.markdown li::selection,
.markdown code::selection,
.markdown th::selection,
.markdown td::selection,
.markdown s::selection,
.markdown strong::selection,
.markdown em::selection,
.markdown span::selection,
.markdown p::selection {
  background: rgba(169, 157, 245, 40%);
}

.markdown h1 {
  margin: 24px 0 0;
  color: #2f2f40;
  font-weight: 700;
  font-size: 13px;
  line-height: 24px;
}

.markdown h2 {
  margin: 22px 0 0;
  color: #2f2f40;
  font-weight: 700;
  font-size: 13px;
  line-height: 24px;
}

.markdown h3 {
  margin: 20px 0 0;
  color: #2f2f40;
  font-weight: 700;
  font-size: 13px;
  line-height: 24px;
}

.markdown h4 {
  margin: 18px 0 0;
  color: #2f2f40;
  font-weight: 700;
  font-size: 13px;
  line-height: 24px;
}

.markdown h5 {
  margin: 16px 0 0;
  color: #2f2f40;
  font-weight: 700;
  font-size: 13px;
  line-height: 24px;
}

.markdown h6 {
  margin: 14px 0 0;
  color: #2f2f40;
  font-weight: 700;
  font-size: 13px;
  line-height: 24px;
}

.markdown ol,
.markdown ul {
  padding-inline-start: 16px;
  margin-block-start: 12px;
  margin-block-end: 12px;
}

.markdown ol li,
.markdown ul li {
  margin-bottom: 8px;
}

.markdown strong {
  font-weight: 700;
}

.markdown hr {
  margin: 30px 0 12px;
  border-color: transparent;
  border-bottom-color: #d8d8d8;
}

.markdown p {
  margin: 12px 0 0;
}

.markdown a {
  color: #379fff;
}

.markdown a:link,
.markdown a:hover,
.markdown a:visited {
  color: #379fff;
}

.markdown p code,
.markdown li code {
  color: var(--primary-color);
  font-family: PTSerif, STSong, sans-serif;
}

.markdown img {
  display: block;
  max-width: 100%;
  margin: 30px 0 12px;
}

.markdown table {
  display: block;
  max-width: 100%;
  margin: 30px 0 12px;
  overflow: auto;
  border-collapse: collapse;
  border-spacing: 1px;
}

.markdown table tr {
  height: 46px;
}

.markdown table th {
  min-width: 80px;
  max-width: 360px;
  padding: 12px 20px;
  color: rgba(0, 0, 0, 60%);
  font-weight: bold;
  text-align: left;
  vertical-align: top;
  border: 1px solid #d9d9d9;
}

.markdown table td {
  min-width: 80px;
  max-width: 360px;
  padding: 12px 20px;
  color: rgba(0, 0, 0, 60%);
  vertical-align: top;
  border: 1px solid #d9d9d9;
}

.markdown > *:last-child {
  margin-bottom: 0;
}

.markdown > *:first-child {
  margin-top: 0;
}

.markdown > *:first-child *:first-child {
  margin-top: 0;
}
